/.idea
src/LINQBenchmark.net8/obj
src/LINQBenchmark.net8/bin
src/LINQBenchmark.Runner.net8/obj
src/LINQBenchmark.Runner.net8/bin
src/LINQBenchmark.net9/obj
src/LINQBenchmark.net9/bin
src/LINQBenchmark.Runner.net9/obj
src/LINQBenchmark.Runner.net9/bin
*.log
/results